<template name="locationEdit">
  {{#autoForm schema="locationSchema" id="editLocationForm" type="method-update" doc=this meteormethod="locationEdit" class="main form page"}}
    {{> afQuickField name='title'}}
    {{> afQuickField name='description'}}
    {{> afQuickField name='url'}}
    {{> afQuickField name='address' id="mapsearch" placeholder="Start typing..."}}
    {{> afFieldInput name='location.lat' type='hidden' data-geo="lat"}}
    {{> afFieldInput name='location.lng' type='hidden' data-geo="lng"}}
    <div class="map-container"></div>
    {{> afQuickField name='tel'}}
    <div class="form-group">
      <input type="submit" value="Submit" class="btn btn-primary submit"/>
    </div>
    <hr/>
    <a class="btn btn-danger delete" href="#">Delete location</a>
  {{/autoForm}}
</template>
